@import "../../colors.module.css";
@import "../../index.module.css";

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vh;
    composes: primaryBg from "../../colors.module.css";
    composes: textColor from "../../colors.module.css";
    composes: fontFamily from "../../index.module.css";
}

.portfolioDp img{
    border-radius : 50%;
    height:20vh;
    width: 20vh;
}

.portfolioDp{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
}

.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2vh;
}

.aboutSectionTitle{
    color:red;
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
    margin: 2vh;
} 

.iconImg{
    height:5vh;
    width: 5vh;
}
