@import "../../colors.module.css";
@import "../../index.module.css";

.projectCard{
    border: 2px solid lightblue;
    margin-left: 12vmin;
    margin-right: 12vmin;
    padding-bottom: 6vmax;
    display: flex;
    width: auto;
    composes: textColor from "../../colors.module.css";
    composes: fontFamily from "../../index.module.css";
    justify-content: space-between;
    padding:1%;
    transform: translateX(10px);
    height: 20vmax;
}

.projectImg{
    flex: 3;
    box-sizing: border-box;
    padding: 1%;
}

.projectImg img{
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.projectDescriptionContainer{
    flex: 3;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.projectDescription{
    flex:3;
    margin: 2%;
}

.projectButtons{
    flex:1;
    display: flex;
    justify-content: left;
    align-items: center;
}

.projectButtons button{
    background-color: transparent;
    color: #FBFAF5;
    border: solid 2px white;
    border-radius: 10%;
    transition: all 500ms linear;
    transition-delay: 100ms;
    background-color: darkslateblue;
    font-weight: bolder;
    margin: 20px 20px 20px 10px;
    padding: 10px;
}

.projectButtons button:hover{
    border: solid 2px white;
    background-color: white;
    color:#221C35;
}

.projectTitle{
    text-decoration-line: underline;
    font-size: 2vmax;
    margin-bottom: 20px;
}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 1vmin;
    margin: 20px 0 20px 0;
}

.tag{
    border-radius: 10px;
    background-color: grey;
    color: white;
    padding: 7px;
    font-size: small;
    font-family: monospace;
}

@media (max-width: 600px) {
    .projectCard {
      flex-direction: column;
      height: auto;
    }
    .projectTitle{
        font-size: 3vmax;
    }    
  }
