@import "../../colors.module.css";

.landing{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content{
  composes: landingBg from "../../colors.module.css";
  display: flex;
  flex-direction: column;
  justify-content: center;
  composes: textColor from "../../colors.module.css";
  font-family: Work Sans, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 92vh;
  width: 100vw;
}

.down {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  flex:1;
}

@media (max-width: 600px) {
  .down {
    padding: 6px;
  }
  .content{
    height: 94vh;
  }
}

.highlight {
  color: lightblue;
  composes: landingBg from "../../colors.module.css";
}

.portfolioButton{
  background-color: transparent;
  color : #FBFAF5;
  border: 3px solid #FBFAF5;
} 

.portfolioButton:hover{
  border: solid 2px white;
  background-color: white;
  color:#221C35;
}

.viewWorkButton{
  composes: portfolioButton;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  padding:1.5vh;
  font-size: 1.5vmax;
  border-radius: 5%;
  transition: all 500ms linear;
  transition-delay: 100ms;
}

.introductionText{
  font-size: 3vmax;
  text-align: center;
  composes: landingBg from "../../colors.module.css";
}

.buttonDiv{
  flex:1;
  margin-top: 1vmax;
}

