/* * {
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
} */
.landing {
  height: 100vh;
  width: auto;
  background-color: darkslateblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: whitesmoke;
}

.highlight {
  color: lightblue;
  background-color: darkslateblue;
}

.view-work-button{
  background-color: transparent;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  padding:1.5vh;
  border: 3px solid whitesmoke;
  font-size: 1.5vw;
}

.introduction-text{
  font-size: 3vw;
  text-align: center;
  background-color: darkslateblue;
}