.sectionHeader{
    text-align: center;
    font-weight: bold;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: white;
}

.dots {
    margin: 12px 0;
    border: 0;
    text-align: center;
    
    &:before {
      content: "\2022 \2022 \2022";
      font-size: 50px;
      color: white;
    }
}
